* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Navigation---------------------------------------------------------------- */

.navigation-container {
    display:flex;
    background-color:#1F2937;
    justify-content: space-between;
    height:60px;
    align-items: center;

}

li {
    list-style-type: none;
    display:inline-block;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color:white;
}

.logo {
    color:white;
    font-weight: 800;
    padding-left:260px;
    
}

.links {
    padding-right:260px;

    
}

/* HERO Section---------------------------------------------------------------- */
.hero-container {
    display:flex;
    background-color: #1F2937;
    height:400px;
    justify-content: center;
    gap:50px;
    align-items:center;
    padding:30px;
    gap:100px;
}

.heroleft {

    height:250px;
    width:400px;
   
}
.heroright {
    
    height:250px;
    padding:10px;

}
.heading {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;
    
}

.subtext {
    color:white;
    font-size:18px;
    margin-bottom:15px;
}

.headerimage {
width: 400px;
height: 200px;
object-fit: contain;
object-position: center;
object-fit: cover;
object-position: right top;
}

button  {
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:#3882F6; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
}


/* Subsection1---Cards-------------------------------------------------------------- */
.subsection1-container {
    background-color: white;
    height:450px;
    margin-top: px;
}
.randominfo1 {
    margin-top:30px;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}

.cards-container {
    display:flex;
    justify-content: center;
    margin-top:40px;
    margin-left: 200px;
    margin-right:200px;
    gap:40px;
    flex-wrap: wrap;

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: #3882F6;
    border-radius: 10px;
    flex:1;
    padding:20px;
    text-align:center;
    border-style:solid;
    border-color:#3882F6;
    max-width:150px;
    min-width:150px;
    height:150px;
    border-width: 4px;
    display:flex;
    
    
}


.cardst {
    margin-top: 150px;
    color:#5a616c;
    flex:1;
}

/* Subsection2-------Quote---------------------------------------------------------- */

.subsection2-container {
    background-color: #e5e7eb;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.quote {
    text-align: left;
    width:600px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color:#1F2937;
    font-family:sans-serif;

}

.author {
    color:black;
    font-weight:900;
    padding-left:500px;
    padding-top:20px;
    font-size: 22px;
}

/* Subsection2-------C2A---------------------------------------------------------- */

.subsection3-container{
    height:400px;
    display:flex;
    justify-content: center;
}

.c2a-container {

    margin-top:100px;
    width:800px;
    padding: 20px;
    margin: 60px;
    height:150px;
    background-color: #3882F6;
    color:white;
    border-radius: 10px;

}

.c2aheader {
    padding-left:50px;
    padding-top:20px;
    font-weight:900;
    font-size: 18px;
}

.c2apara {
    padding-left:50px;

}
